@page
@model Sorea_Stefania_Proiect.Pages.Animes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.AnimeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.AnimeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.DebutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.DebutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Seasons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Seasons)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Studio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Studio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Anime.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
